# deps
node_modules/
.pnp
.pnp.js

# build
dist/
dist-ssr/
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# turbo
.turbo/

# error logs
*.err

# typescript
*.tsbuildinfo
